:root {
    --vermelho: #e50914;
    --preto: #141414;
    --branco: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Montserrat', sans-serif;;
    font-size: 16px;
    color: var(--branco);
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 50px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    font-weight: 700;
}

header nav a:hover {
    color: #fff;
}

/* Filme Principal */

.filme-principal {
    font-size: 18px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4) 100%), url('../images/capa-vini.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 2%;
    margin-bottom: 40px;

}

.filme-principal .titulo {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.botao {
    background-color: var(--preto);
    border: none;
    color: #fff;
    padding: 15px 30px;
    margin-right: 15px;
    cursor: pointer;
    transition: .3s ease all;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
}

.botao:hover {
    background-color: #fff;
    color: #000;
    font-weight: 700;
}

#cv {
    background-color: var(--vermelho);
}

#cv:hover {
    color: var(--vermelho);
    background-color: var(--branco);
    font-weight: 700;
}

.botao i {
    margin-right: 8px;
}

.row {
    margin-left: 20px;
}

.filme-principal .row {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-filmes {
    margin: 5px;
}

.titulo-skill {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 3%;
    margin-bottom: 3%;
}

.skills {
    width: 98%;
    margin-bottom: 5%;
}

.skill {
    text-align: center;
    padding-top: 10px; 
    padding-bottom: 10px;
    margin: 5px 0px;
    color: var(--branco);
    margin-top: 10px;
    background-color: var(--vermelho);
}

.html {
    width: 95%; 
}

.css {
    width: 70%;
}

.js {
    width: 42%;
}

.ps {
    width: 97%;
}

.ai {
    width: 95%;
}

.xd {
    width: 60%;
}

.pr {
    width: 50%;
}

.emm {
    width: 99%;
}

.rd {
    width: 80%;
}

.rd-crm {
    width: 67%;
}

.botao-invertido {
    width: 100%;
    background-color: var(--branco);
    border: none;
    color: var(--preto);
    padding: 15px 30px;
    margin-right: 15px;
    cursor: pointer;
    transition: .3s ease all;
    font-family: 'Montserrat', sans-serif;
    display: block;
}

.botao-invertido:hover {
    background-color: var(--preto);
    color: var(--branco);
}

.botao-invertido i {
    color: var(--preto);
    float: right;
    margin-left: 1%;
    justify-content: center;
    align-items: center;
}

.accordion {
    margin-top: 5px;
}

.w3-center {
    text-align: center !important; 
}

.w3-hide {
    display: none !important;
}

.w3-show {
    display: block !important;
}

.titulo-projetos {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 3%;
    margin-bottom: 1%;
}