@media screen and (max-width:700px) {
    header .row{
        display: flex;
        flex-direction: column;
    }

    header nav {
        margin-bottom: 2%;
    }

    .filme-principal .row {
        width: 80%;
    }

    .botao {
        width: 100%;
    }

    .botao:nth-child(2) {
        margin-top: 2%;
    }
}